.compet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
}

.tituloHab {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.compet__hab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.compet__habText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 30px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Poppins';
}

h4 {
    font-size: 20px;
}

.compet__habText:hover {
    font-weight: 1000;
    transform: scale(1.25, 1.25);
    transition: all 600ms ease;
}

@media (max-width: 425px) {
    .compet {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .compet__hab {
        display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
    }

    .compet__habText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
        padding: 30px;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}