.personal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 5px;
    color: white
}

.disable {
    display: none;
}

.personal__titulo {
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
}

.personal__titulo i {
    color: white
}

.personal__contenido {
    display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 30px;
        grid-template-areas: "personal__foto personal__texto";
        width: 100%;
}

.personal__foto {
    grid-area: personal__foto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 40vh;
}

.personal__img {
    width: 15vw;
    height: auto;
    border-radius: 200px;
}

.personal__texto {
    grid-area: personal__texto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    border-radius: 50px;
    font-family: 'JetBrains Mono', monospace;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
}

@media (max-width: 425px) {
    .personal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .personal__contenido {
        display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "personal__foto" "personal__texto";
            width: 100%;
    }

    .personal__foto {
        grid-area: personal__foto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
    }

    .personal__img {
        width: 60vw;
        height: auto;
    }

    .personal__texto {
        grid-area: personal__texto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 90%;
        padding: 10px;
        margin-left: 15px;
        font-weight: bold;
    }
}